* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #f4f4f4;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  /* margin: 10px;  */
}

.btn {
  padding: 10px;
  cursor: pointer;
  display: block;
  color: #fff;
  background-image: linear-gradient(to right, #0b86e3, #1445cd);
  border: none;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
